.wrapper {
   
    margin: 0 10%;

}
.container{
    display: flex;
    gap: 20px;
    padding-bottom: 80px;
    border-bottom: 1px solid black;
}
.footer {
    text-align: left;
    flex-basis: 25%;
    padding-right: 2%;
    h3 {
        margin-bottom: 30px;
    }
    p {
        color: #000001;
        font-weight: 300;
    }
    li {
        color: #000001;
        font-weight: 300;
        list-style: none;
        font-size: 15px;
        line-height: 1.66em;
        margin-bottom: 5px;
        cursor: pointer;
        .footer-icon{
            opacity: 0;
            transition: opacity .2s ease-out;
        
        }
        &:hover{
            .footer-icon{
                opacity: 1;
              }
        }
    }
}
.footer-widget {
    display: flex;
    margin-top: 30px;
    h6 {
        font-size: 14px;
        display: inline;
        margin-right: 2.2%;
        cursor: pointer;
        font-weight: 400;
    }
}
.container-overight{
    width: 100%;
    text-align: center;
}

