.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: fixed;
    background-color: rgba(243, 241, 241, 0.4);
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;

    .close {
        cursor: pointer;
        position: absolute;
        font-size: 4rem;
        font-weight: 600;
        color: rgb(12, 12, 12);
        right: 80px;
        top: 30px;
    }
}
