.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;

    span {
        cursor: pointer;
        position: absolute;
        font-size: 4rem;
        font-weight: 600;
        color: #fff;
        right: 30px;
        top: 30px;
    }
}
