.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: fixed;
    background-color: rgba(134, 131, 131, 0.3);
    width: 100%;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .close {
        cursor: pointer;
        position: absolute;
        font-size: 4rem;
        font-weight: 600;
        color: rgb(12, 12, 12);
        right: 30px;
        top: 30px;
    }
}
