.wrapper {
    // position: relative;
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    transition: all 0.6s ease-in-out;
    z-index: 999;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        background-color: #efefef;
        padding: 0 40px;
        font-size: 1.3rem;
    }
    .inner {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 0 40px;
        box-shadow: 0 4px 2px -2px gray;

        .inner-start {
            display: flex;
            align-items: center;
            height: 100%;
            font-size: 1.8rem;
            font-weight: 500;
            .logo {
                height: 100%;
                img {
                    height: 100%;
                    padding-right: 54px;
                }
            }

            a {
                cursor: default;
                margin-right: 54px;
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                }
                &:hover::after {
                    animation: border-b 0.6s ease-out forwards;
                }
            }
        }

        .inner-end {
            .search {
                position: relative;
                display: flex;
                align-items: center;
                background-color: transparent;
                font-size: 2.4rem;
                border: 2px solid #333;
                border-radius: 8rem;
                input {
                    background-color: transparent;
                    padding: 16px 26px;
                    color: #333;
                    padding-right: 70px;
                    font-size: 2.4rem;
                }

                .search-icon {
                    position: absolute;
                    right: 20px;
                    cursor: pointer;
                    padding: 10px 0px;
                    padding-left: 20px;
                    border-left: 1px solid #333;
                }
                .spinner {
                    position: absolute;
                    right: 74px;
                    animation: spinner 0.6s linear infinite;
                }
            }
            .search-result {
                width: 392px;
                .title {
                    padding: 10px 15px;
                    text-align: left;
                    color: #333;
                    font-size: 1.6rem;
                }
                .result-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: 60px;
                    img {
                        width: 50px;
                        height: 80%;
                        border-radius: 100%;
                    }
                    .name {
                        font-weight: 500;
                        font-size: 1.8rem;
                        overflow: hidden;
                    }
                    .price {
                        font-weight: 600;
                        font-style: italic;
                        color: skyblue;
                        float: right;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: rgb(236, 235, 235);
                    }
                }
            }

            a {
                font-size: 1.8rem;
                font-weight: 500;
                cursor: pointer;
                margin-left: 54px;
            }

            .cart {
                position: relative;
                &::before {
                    content: attr(count);
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    font-size: 1.6rem;
                    line-height: 20px;
                    border-radius: 100%;
                    top: -5px;
                    right: -16px;
                }
            }
        }
    }
}
.wrapper-cart {
    animation: fadeIn 0.3s ease-in forwards;
}
.cart-list {
    width: 500px;
    .cart-title {
        padding: 10px 15px;
        text-align: left;
        color: #333;
        font-size: 1.6rem;
    }
    .cart-item {
        position: relative;
        display: flex;
        align-items: center;
        // justify-content: space-around;
        margin-bottom: 16px;
        height: 60px;
        width: 500px;
        .cart-image {
            width: 50px;
            height: 80%;
            border-radius: 100%;
            margin: 0 16px;
        }
        .cart-box {
            display: block;
            text-align: left;
            max-width: 70%;
            height: 100%;
            .cart-name {
                height: 50%;
                font-weight: 500;
                font-size: 1.8rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                // line-height: 60px;
            }
            .cart-price {
                font-size: 2rem;
                font-weight: 600;
                font-style: italic;
                color: skyblue;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: rgb(236, 235, 235);
        }
        .cart-close {
            position: absolute;
            right: 30px;
            top: 0;
            padding: 5px 12px;
            // height: 40px;
            border-radius: 100%;
            &:hover {
                background-color: #ccc;
            }
        }
    }
}

.btn-scrollTop {
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom: 40px;
    font-size: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #ccc;
}

@keyframes border-b {
    from {
        width: 0;
        background-color: transparent;
    }
    to {
        width: 100%;
        background-color: #333;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
